/*BODY*/
@font-face {
    font-family: yekan;
    src: url(../font/iranyekanwebbold.ttf);
}

*{
    font-family: yekan;
    box-sizing: border-box;
}

body{
    direction: rtl;
    background-color: #eee;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}

/*BODY*/
/*NAV*/

.line1 , .line2 , .line3{
    margin: 5px 0px;
    width: 25px;
    height: 3px;
    background-color: #000080;
}

.my-nav-collapse-btn{
    border: none;
    outline: none;
    box-shadow: none;
    transition: all .5s;
}

.my-nav-collapse-btn:focus{
    border: none;
    outline: none;
    box-shadow: none;
    border: solid #000080;
}

.my-nav{
    padding: 3px 15px;
    margin: 10px;
    border-radius: 10px;
}

.my-nav-brand-span1{
    font-size: 20px;
    text-align: center;
    color: #000080;
}

.my-nav-brand-span2{
    font-size: 10px;
    text-align: center;
    color: #6495ed;
}
.my-nav-icon-user{
    color: #000080;
    margin-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-nav-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-nav-user-span1{
    color: #000080;
}

.my-nav-user-span2{
    color: #6495ed;
    font-size: 13px;
}

.my-nav-exit{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000080;
    transition: all 0.7s;
}

.my-nav-exit:hover{
    color: #6495ed;
}

.my-nav-exit-tooltipe{
    position: relative;
    display: inline-block;
    transition: all 0.7s;
}

.my-nav-exit-tooltiptext{
    display: none;
    z-index: 1;
    position: absolute;
    transition: all 0.7s;
    top: 35px;
    left: 7px;
}

.my-nav-exit-tooltiptext::after{
    position: absolute;
}

.my-nav-exit-tooltipe:hover .my-nav-exit-tooltiptext{
    display: block;
}

.my-nav-exit-tooltiptext-span{
    color: #000080;
   
}

.my-sidebar-nav{
    min-height: 85vh;
    background-color: white;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 20px 15px;
}

@media(min-width:768px) {
    .my-sidebar-nav{
        display: none;
    }
}

@media(max-width:426px){
    .my-sidebar{
        display: none;
    }
    
    .my-sidebar-menu-li{
        margin-top: 20px;
    }

    .my-sidebar-menu-a{
        font-size: 16px;
    }
}


/*NAV*/
/*SIDEBAR*/

.my-sidebar{
    min-height: 84vh;
    background-color: white;
    background-position: center;
    background-size: cover;
    box-shadow: -5px 7px 25px #999;
    border-radius: 10px;
    padding: 20px 15px;
    
}

.my-sidebar-search{
    border: 2px solid #000080;
    border-radius: 10px;
    padding: 5px;
}

@media(max-width:768px){
    .my-sidebar-search-box{
        width: 70px;
    }

    .my-sidebar-menu-li{
        font-size: 14px;
    }

    .my-sidebar-menu-collapse-a{
        font-size: 14px;
    }
}

@media(max-width:426px){
    .my-sidebar-search-box{
        width: auto;
    }

    .my-sidebar-menu-li{
        font-size: 16px;
    }

    .my-sidebar-menu-collapse-a{
        font-size: 16px;
    }
}

.my-sidebar-search-icon{
    color: #000080;
}

.my-sidebar-search-box{
    border: none;
}

.my-sidebar-search-box:focus{
    border: none;
    outline: none;
}

.my-sidebar-menu{
    list-style: none;
    padding: 0px;
    margin-top: 30px;
}

.my-sidebar-menu-li{
    padding: 10px 10px;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 0.7s;
    color: #000080;
}

.my-sidebar-menu-li:hover{
    background-color: #000080;
    color: white;

}

.my-menu-after-click{
    background-color: #000080;
    color: white;
}

@media(max-width:768px){

    .my-sidebar-menu-li{
        margin-top: 10px;
    }

    .my-sidebar-menu-a{
        font-size: 14px;
    }
}
.my-sidebar-menu-collapse{
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-sidebar-menu-collapse-ul{
    list-style: none;
}

.my-sidebar-menu-collapse-a{
    color: #6495ed;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.7s;
}

.my-sidebar-menu-collapse-a:focus{
    color: #444;
}
/*SIDEBAR*/
/*MAIN*/

.my-main{
    background-color: white;
    box-shadow: -5px 7px 25px #999;
    border-radius: 10px;
    min-height: 84vh;
    padding: 10px 10px;
}

.my-main-top-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #000080;
    box-shadow: -1px 1px 3px #999;
    padding: 20px 0px;
    border-radius: 10px;
    margin-top: 30px;
}

.my-main-top-card-border{
    width: 250px;
    border-top: 1px solid #99999928;
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
    color: #000080;
    transition: all 0.5s;
}

.my-main-top-card-border:hover{
    color: #6495ed;
}

.my-main-bottom-card{
    background-color: white;
    box-shadow: -1px 1px 3px #999;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

.my-main-bottom-card-h{
    color: #000080;
}

.my-main-bottom-card-table{
    margin-top: 30px;
    

}

.my-main-bottom-card-table-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border:1px solid #000080;
    color: #000080;
}

.my-main-bottom-card-table-btn:hover{
    border:1px solid #000080;
    color: #6495ed;
}

.my-main-bottom-card-table-a{
    background-color: #000080;
    color: white;
}

.my-main-bottom-card-table-a:hover{
    background-color: #6495ed;
}
/*MAIN*/

